<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8YzD7zojC_cglrQOT4i5JJEXBBMy7RdM</string>
	<key>GCM_SENDER_ID</key>
	<string>704204355455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.managment</string>
	<key>PROJECT_ID</key>
	<string>pa-mobile-3ebc5</string>
	<key>STORAGE_BUCKET</key>
	<string>pa-mobile-3ebc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704204355455:ios:5dedb98f3095a2a5718c4a</string>
</dict>
</plist>